<h3>Create a Movie Party for <%= @facade.movie.title %></h3>

<div class='create_viewing_party'>
  <%= form_with model: @facade.new_viewing_party, url: user_movie_viewing_party_index_path(@facade.user_id, @facade.movie.id), method: :post, local: true do |f| %>
    <div class='movie_title'>
      <%= f.label :movie_title, "Movie Title: #{@facade.movie.title}" %>
      <%= f.hidden_field :movie_title, value: @facade.movie.title %>
    </div>
    <div class='duration'>
      <%= f.label :duration, 'Duration of Party:' %>
      <%= f.text_field :duration, value: @facade.runtime %>
    </div>
    <div class='day'>
      <%= f.label :day, 'Day:' %>
      <%= f.date_field :day %>
    </div>
    <div class='start_time'>
      <%= f.label :start_time, 'Start Time:' %>
      <%= f.time_field :start_time %>
    </div>
    <div class='invite_other_users'>
      <%= f.label :invite_other_users, 'Invite Other Users' %>
      <% @facade.other_users.each do |user| %>
        <div id="invite_user_<%= user.id %>">
          <%= check_box_tag 'invited_users[]', user.id %>
          <%= label_tag :user_ids, "#{user.name}, #{user.email}" %>
        </div>
      <% end %>
    </div>
    <%= f.hidden_field :host, value: @facade.user_id %>
    <%= f.hidden_field :movie_id, value: @facade.movie.id %>
    <%= f.hidden_field :movie_runtime, value: @facade.runtime %>
    <%= f.submit 'Create Party' %>
  <% end %>
</div>